@font-face {
  font-family: MazzardM;
  font-display: swap;
  src: url("../fonts/MazzardM-normal+400.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: MazzardM;
  font-display: swap;
  src: url("../fonts/MazzardM-normal+400.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: MazzardM;
  font-display: swap;
  src: url("../fonts/MazzardM-normal+400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: MazzardM;
  font-display: swap;
  src: url("../fonts/MazzardM-normal+700.ttf") format("ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: MazzardM;
  font-display: swap;
  src: url("../fonts/MazzardM-normal+700.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: MazzardM;
  font-display: swap;
  src: url("../fonts/MazzardM-normal+700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-normal+300.ttf") format("ttf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-normal+300.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-normal+300.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-normal+400.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-normal+400.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-normal+400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-normal+500.ttf") format("ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-normal+500.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-normal+500.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-normal+600.ttf") format("ttf");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-normal+600.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-normal+600.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-normal+700.ttf") format("ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-normal+700.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-normal+700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "swiper-icons";
  src: url("data:application/font-woff;charset=utf-8;base64, d09GRgABAAAAAAZgABAAAAAADAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAAAGRAAAABoAAAAci6qHkUdERUYAAAWgAAAAIwAAACQAYABXR1BPUwAABhQAAAAuAAAANuAY7+xHU1VCAAAFxAAAAFAAAABm2fPczU9TLzIAAAHcAAAASgAAAGBP9V5RY21hcAAAAkQAAACIAAABYt6F0cBjdnQgAAACzAAAAAQAAAAEABEBRGdhc3AAAAWYAAAACAAAAAj//wADZ2x5ZgAAAywAAADMAAAD2MHtryVoZWFkAAABbAAAADAAAAA2E2+eoWhoZWEAAAGcAAAAHwAAACQC9gDzaG10eAAAAigAAAAZAAAArgJkABFsb2NhAAAC0AAAAFoAAABaFQAUGG1heHAAAAG8AAAAHwAAACAAcABAbmFtZQAAA/gAAAE5AAACXvFdBwlwb3N0AAAFNAAAAGIAAACE5s74hXjaY2BkYGAAYpf5Hu/j+W2+MnAzMYDAzaX6QjD6/4//Bxj5GA8AuRwMYGkAPywL13jaY2BkYGA88P8Agx4j+/8fQDYfA1AEBWgDAIB2BOoAeNpjYGRgYNBh4GdgYgABEMnIABJzYNADCQAACWgAsQB42mNgYfzCOIGBlYGB0YcxjYGBwR1Kf2WQZGhhYGBiYGVmgAFGBiQQkOaawtDAoMBQxXjg/wEGPcYDDA4wNUA2CCgwsAAAO4EL6gAAeNpj2M0gyAACqxgGNWBkZ2D4/wMA+xkDdgAAAHjaY2BgYGaAYBkGRgYQiAHyGMF8FgYHIM3DwMHABGQrMOgyWDLEM1T9/w8UBfEMgLzE////P/5//f/V/xv+r4eaAAeMbAxwIUYmIMHEgKYAYjUcsDAwsLKxc3BycfPw8jEQA/gZBASFhEVExcQlJKWkZWTl5BUUlZRVVNXUNTQZBgMAAMR+E+gAEQFEAAAAKgAqACoANAA+AEgAUgBcAGYAcAB6AIQAjgCYAKIArAC2AMAAygDUAN4A6ADyAPwBBgEQARoBJAEuATgBQgFMAVYBYAFqAXQBfgGIAZIBnAGmAbIBzgHsAAB42u2NMQ6CUAyGW568x9AneYYgm4MJbhKFaExIOAVX8ApewSt4Bic4AfeAid3VOBixDxfPYEza5O+Xfi04YADggiUIULCuEJK8VhO4bSvpdnktHI5QCYtdi2sl8ZnXaHlqUrNKzdKcT8cjlq+rwZSvIVczNiezsfnP/uznmfPFBNODM2K7MTQ45YEAZqGP81AmGGcF3iPqOop0r1SPTaTbVkfUe4HXj97wYE+yNwWYxwWu4v1ugWHgo3S1XdZEVqWM7ET0cfnLGxWfkgR42o2PvWrDMBSFj/IHLaF0zKjRgdiVMwScNRAoWUoH78Y2icB/yIY09An6AH2Bdu/UB+yxopYshQiEvnvu0dURgDt8QeC8PDw7Fpji3fEA4z/PEJ6YOB5hKh4dj3EvXhxPqH/SKUY3rJ7srZ4FZnh1PMAtPhwP6fl2PMJMPDgeQ4rY8YT6Gzao0eAEA409DuggmTnFnOcSCiEiLMgxCiTI6Cq5DZUd3Qmp10vO0LaLTd2cjN4fOumlc7lUYbSQcZFkutRG7g6JKZKy0RmdLY680CDnEJ+UMkpFFe1RN7nxdVpXrC4aTtnaurOnYercZg2YVmLN/d/gczfEimrE/fs/bOuq29Zmn8tloORaXgZgGa78yO9/cnXm2BpaGvq25Dv9S4E9+5SIc9PqupJKhYFSSl47+Qcr1mYNAAAAeNptw0cKwkAAAMDZJA8Q7OUJvkLsPfZ6zFVERPy8qHh2YER+3i/BP83vIBLLySsoKimrqKqpa2hp6+jq6RsYGhmbmJqZSy0sraxtbO3sHRydnEMU4uR6yx7JJXveP7WrDycAAAAAAAH//wACeNpjYGRgYOABYhkgZgJCZgZNBkYGLQZtIJsFLMYAAAw3ALgAeNolizEKgDAQBCchRbC2sFER0YD6qVQiBCv/H9ezGI6Z5XBAw8CBK/m5iQQVauVbXLnOrMZv2oLdKFa8Pjuru2hJzGabmOSLzNMzvutpB3N42mNgZGBg4GKQYzBhYMxJLMlj4GBgAYow/P/PAJJhLM6sSoWKfWCAAwDAjgbRAAB42mNgYGBkAIIbCZo5IPrmUn0hGA0AO8EFTQAA") format("woff");
  font-weight: 400;
  font-style: normal;
}

:root {
  --swiper-theme-color: #007aff;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  /* Fix of Webkit flickering */
  z-index: 1;
}

.swiper-vertical > .swiper-wrapper {
  flex-direction: column;
}

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  box-sizing: content-box;
}

.swiper-android .swiper-slide,
.swiper-wrapper {
  transform: translate3d(0px, 0, 0);
}

.swiper-pointer-events {
  touch-action: pan-y;
}

.swiper-pointer-events.swiper-vertical {
  touch-action: pan-x;
}

.swiper-slide {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  transition-property: transform;
}

.swiper-slide-invisible-blank {
  visibility: hidden;
}

/* Auto Height */

.swiper-autoheight,
.swiper-autoheight .swiper-slide {
  height: auto;
}

.swiper-autoheight .swiper-wrapper {
  align-items: flex-start;
  transition-property: transform, height;
}

/* 3D Effects */

.swiper-3d,
.swiper-3d.swiper-css-mode .swiper-wrapper {
  perspective: 1200px;
}

.swiper-3d .swiper-wrapper,
.swiper-3d .swiper-slide,
.swiper-3d .swiper-slide-shadow,
.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right,
.swiper-3d .swiper-slide-shadow-top,
.swiper-3d .swiper-slide-shadow-bottom,
.swiper-3d .swiper-cube-shadow {
  transform-style: preserve-3d;
}

.swiper-3d .swiper-slide-shadow,
.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right,
.swiper-3d .swiper-slide-shadow-top,
.swiper-3d .swiper-slide-shadow-bottom {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 10;
}

.swiper-3d .swiper-slide-shadow {
  background: rgba(0, 0, 0, 0.15);
}

.swiper-3d .swiper-slide-shadow-left {
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-3d .swiper-slide-shadow-right {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-3d .swiper-slide-shadow-top {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-3d .swiper-slide-shadow-bottom {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

/* CSS Mode */

.swiper-css-mode > .swiper-wrapper {
  overflow: auto;
  scrollbar-width: none;
  /* For Firefox */
  -ms-overflow-style: none;
  /* For Internet Explorer and Edge */
}

.swiper-css-mode > .swiper-wrapper::-webkit-scrollbar {
  display: none;
}

.swiper-css-mode > .swiper-wrapper > .swiper-slide {
  scroll-snap-align: start start;
}

.swiper-horizontal.swiper-css-mode > .swiper-wrapper {
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
}

.swiper-vertical.swiper-css-mode > .swiper-wrapper {
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
}

.swiper-centered > .swiper-wrapper::before {
  content: "";
  flex-shrink: 0;
  order: 9999;
}

.swiper-centered.swiper-horizontal > .swiper-wrapper > .swiper-slide:first-child {
  -webkit-margin-start: var(--swiper-centered-offset-before);
          margin-inline-start: var(--swiper-centered-offset-before);
}

.swiper-centered.swiper-horizontal > .swiper-wrapper::before {
  height: 100%;
  width: var(--swiper-centered-offset-after);
}

.swiper-centered.swiper-vertical > .swiper-wrapper > .swiper-slide:first-child {
  -webkit-margin-before: var(--swiper-centered-offset-before);
          margin-block-start: var(--swiper-centered-offset-before);
}

.swiper-centered.swiper-vertical > .swiper-wrapper::before {
  width: 100%;
  height: var(--swiper-centered-offset-after);
}

.swiper-centered > .swiper-wrapper > .swiper-slide {
  scroll-snap-align: center center;
}

main {
  display: block;
}

h1 {
  font-size: 1rem;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1rem;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
}

body {
  margin: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

ul,
ol {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

body {
  font-family: "Montserrat", Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background: #272729;
  color: #c0c0c0;
  overflow-x: hidden;
  overflow-y: overlay;
  font-size: 16px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.container-fluid {
  max-width: 1920px;
  margin: 0 auto;
}

.no-scroll {
  overflow: hidden;
  position: fixed;
  width: 100%;
}

.container-default {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  transform: all 0.3s ease-in-out;
  background: linear-gradient(0deg, #975ddc 0.85%, #4159d8 100%);
  border-radius: 31px;
  cursor: -webkit-grab;
  cursor: grab;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(0deg, #4159d8 0.85%, #975ddc 100%);
}

.header {
  background-image: url("../img/header_bg.webp");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 1121px;
  position: relative;
  background-position: center top;
}

.header__top {
  display: flex;
  justify-content: space-between;
  padding-top: 9px;
  position: relative;
  z-index: 4;
}

.header__title {
  font-size: 72px;
  max-width: 600px;
  color: #e3e3e3;
  margin-top: 154px;
  margin-left: 10px;
  font-weight: 700;
  font-family: "MazzardM", Helvetica, sans-serif;
  position: relative;
  z-index: 3;
}

.header__title::before {
  content: url("../img/cs_lebel.png");
  margin-bottom: -10px;
  display: block;
}

.header__title::after {
  content: url("../img/cs_lebel_after.png");
  display: inline-block;
  vertical-align: middle;
}

.header__btn {
  background: #975ddc;
  box-shadow: 0px 4px 64px rgba(151, 93, 220, 0.73);
  border-radius: 49px;
  position: relative;
  z-index: 3;
  transition: all 0.3s ease-in-out;
}

.header__btn:hover {
  background: #833dd8;
  box-shadow: 0px 4px 70px rgba(151, 93, 220, 0.95);
}

.header__btn:hover::after {
  transform: translateY(-50%) translateX(5px);
}

.header__body {
  position: relative;
}

.header__text {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.header__text p {
  position: absolute;
  z-index: 1;
  font-size: 180px;
  line-height: 1.1777777778;
  font-family: "MazzardM", Helvetica, sans-serif;
  font-weight: 700;
  color: rgba(244, 244, 244, 0.02);
  top: 252px;
  left: 24px;
  text-transform: uppercase;
}

.header__text p + p {
  top: 441px;
  left: 113px;
}

.burger {
  display: none;
  cursor: pointer;
  padding-top: 22px;
  max-height: 40px;
  z-index: 7;
  order: -1;
}

.burger span {
  width: 35px;
  height: 6px;
  border-radius: 5px;
  background-color: #c0c0c0;
  display: block;
  position: relative;
}

.burger span::after,
.burger span::before {
  content: "";
  position: absolute;
  width: 35px;
  height: 6px;
  border-radius: 5px;
  background-color: #c0c0c0;
  left: 0;
  right: 0;
}

.burger span::before {
  transition: all 0.2s ease-in-out;
  top: 10px;
}

.burger span::after {
  transition: all 0.2s ease-in-out;
  bottom: 10px;
}

.burger--active span::after {
  bottom: 0;
  transform: rotate(-50deg);
}

.burger--active span::before {
  top: 0;
  transform: rotate(50deg);
}

.burger--active span {
  background-color: rgba(255, 255, 255, 0);
}

.burger--active + .menu {
  transform: translateY(0%);
}

.window {
  position: absolute;
  width: 938px;
  height: 853px;
  background-image: url("../img/window.webp");
  background-repeat: no-repeat;
  background-size: cover;
  top: 227px;
  transform: translateX(50%);
  z-index: 2;
}

.window__hexagon {
  position: absolute;
  width: 643px;
  height: 600px;
  background-image: url("../img/hexagon.webp");
  background-repeat: no-repeat;
  background-size: cover;
  top: 81px;
  right: 131px;
  z-index: 2;
}

.window__knife {
  position: absolute;
  width: 600px;
  height: 963px;
  background-image: url("../img/knife.webp");
  background-repeat: no-repeat;
  background-size: cover;
  top: -143px;
  right: 20px;
  z-index: 2;
}

.window__hexagon-bottom {
  position: absolute;
  width: 729px;
  height: 409px;
  background-image: url("../img/hexagon-bottom.webp");
  background-repeat: no-repeat;
  background-size: cover;
  top: 280px;
  right: 131px;
  z-index: 2;
}

.menu {
  margin-left: auto;
  margin-top: 10px;
}

.menu__list {
  display: flex;
  justify-content: flex-start;
}

.menu__list-item {
  display: flex;
  align-items: center;
}

.menu__list-item + .menu__list-item {
  margin-left: 30px;
}

.menu__list-link {
  line-height: 1.2142857143;
  font-size: 0.875rem;
  font-weight: 400;
  color: #c0c0c0;
  position: relative;
}

.menu__list-link::after {
  content: "";
  position: absolute;
  bottom: -7px;
  height: 1px;
  right: 0;
  width: 0%;
  background-color: #c0c0c0;
  transition: all 0.3s ease-in-out;
}

.menu__list-link:hover::after {
  width: 100%;
  left: 0;
  right: auto;
}

.menu__list-link--main {
  padding-left: 37px;
}

.menu__list-link--main::before {
  content: "";
  position: absolute;
  left: 0;
  width: 30px;
  height: 30px;
  background-image: url("../img/main-icon.png");
  background-repeat: no-repeat;
}

.menu__list-link--stock {
  padding-left: 21px;
}

.menu__list-link--stock::before {
  content: "";
  position: absolute;
  left: 0;
  width: 14px;
  height: 14px;
  background-image: url("../img/stock-icon.svg");
  background-repeat: no-repeat;
}

.menu__list-link--stock-violet::before {
  background-image: url("../img/stock-icon-violet.svg");
}

.menu__list-link--main-violet {
  padding-left: 37px;
}

.menu__list-link--main-violet::before {
  content: "";
  position: absolute;
  left: 0;
  width: 30px;
  height: 30px;
  background-image: url("../img/main-icon-violet.png");
  background-repeat: no-repeat;
}

.menu__list-link--stock-violet {
  padding-left: 21px;
}

.menu__list-link--stock-violet::before {
  content: "";
  position: absolute;
  left: 0;
  width: 14px;
  height: 14px;
  background-image: url("../img/stock-icon-violet.svg");
  background-repeat: no-repeat;
}

.menu__list-link--fortuna {
  padding-left: 29px;
  max-width: 153px;
  padding: 6px 12px 7px 43px;
  border-radius: 27px;
  background-color: rgba(255, 255, 255, 0.12);
  transition: all 0.3s ease-in-out;
}

.menu__list-link--fortuna::after {
  display: none;
}

.menu__list-link--fortuna::before {
  content: "";
  position: absolute;
  left: 6px;
  top: 50%;
  transform: translateY(-50%);
  width: 22px;
  height: 24px;
  background-image: url("../img/fortune-icon.svg");
  background-repeat: no-repeat;
}

.menu__list-link--fortuna:hover {
  transform: scale(1.1);
}

.menu__list-icon {
  margin-right: 30px;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.lang {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  margin-left: 35px;
  margin-right: 25px;
  margin-top: 26px;
  position: relative;
  line-height: 1.2142857143;
  font-size: 0.875rem;
  font-weight: 400;
  color: #c0c0c0;
  z-index: 10;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  position: relative;
}

.lang::after {
  content: "";
  background-image: url(../img/arrow_b.svg);
  position: absolute;
  right: -12px;
  top: 5px;
  width: 8px;
  height: 6px;
  z-index: 10;
  transition: all 0.3s ease-in-out;
}

.lang__drop {
  transition: all 0.3s ease-in-out;
  margin-top: 10px;
  opacity: 0;
  visibility: hidden;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 15px;
  background-color: rgba(255, 255, 255, 0.12);
  padding: 20px;
  left: -10px;
  border-radius: 8px;
}

.lang__drop-link {
  transition: all 0.3s ease-in-out;
}

.lang__drop-link:hover {
  font-weight: 700;
  color: #fff;
}

.lang__drop-link + .lang__drop-link {
  margin-top: 7px;
}

.lang:hover::after {
  transform: rotate(-180deg);
}

.lang:hover .lang__drop {
  opacity: 1;
  visibility: visible;
}

.header-slider {
  margin-top: -35px;
  display: block;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  padding: 20px 0;
}

.header-slider::after,
.header-slider::before {
  content: "";
  position: absolute;
  width: 150px;
  height: 271px;
  z-index: 3;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}

.header-slider::after {
  background: linear-gradient(270deg, rgba(14, 15, 17, 0) 0%, #0e0f11 103.8%);
  left: 0;
}

.header-slider::before {
  background: linear-gradient(270deg, #0e0f11 37.97%, rgba(14, 15, 17, 0) 103.8%);
  right: -110px;
  width: 316px;
  height: 271px;
}

.header-slider__item {
  min-width: 163px;
  height: 126px;
  position: relative;
  display: flex;
  align-items: flex-end;
  transition: all 0.3s ease-in-out;
}

.header-slider__item:hover {
  transform: scale(1.2);
}

.header-slider__icon {
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.header-slider__item-title {
  max-width: 80px;
  line-height: 1.2142857143;
  font-size: 0.875rem;
  font-weight: 700;
  color: #fff;
  text-align: center;
  margin: 0 auto 10px auto;
  z-index: 4;
}

.button {
  width: 262px;
  height: 62px;
  line-height: 1.1875;
  font-size: 1rem;
  font-weight: 500;
  color: #fff;
  border-radius: 49px;
  padding: 20px 35px 20px 35px;
  display: inline-block;
  position: relative;
}

.button::after {
  content: url("../img/arrow_right.svg");
  position: absolute;
  right: 35px;
  top: 50%;
  transition: all 0.3s ease-in-out;
  transform: translateY(-50%) translateX(0px);
}

.smoke {
  position: absolute;
  background-image: url("../img/smoke.webp");
  width: 952px;
  height: 1093px;
  background-repeat: no-repeat;
  position: absolute;
  right: 8px;
  top: -475px;
  z-index: 1;
  opacity: 0.5;
  filter: blur(10px);
  pointer-events: none;
}

.smoke__light {
  position: absolute;
  background-image: url("../img/small-yelow-light.svg");
  width: 862px;
  height: 936px;
  background-repeat: no-repeat;
  position: absolute;
  right: 8px;
  top: -475px;
  z-index: 5;
  pointer-events: none;
}

.last-item {
  position: relative;
  z-index: 3;
}

.last-item::before {
  content: "";
  background-image: url("../img/blue-circle.svg");
  width: 461px;
  height: 1251px;
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  top: 0;
}

.last-item::after {
  content: "";
  background-image: url("../img/violet-light.svg");
  width: 1316px;
  height: 718px;
  background-repeat: no-repeat;
  position: absolute;
  left: 136px;
  top: -219px;
  z-index: -1;
  pointer-events: none;
}

.last-item__inner {
  max-width: 1239px;
  padding: 0 20px 0 20px;
  margin: 0 auto;
  border-radius: 21px;
  background: linear-gradient(264.84deg, rgba(55, 55, 61, 0.49) 10.56%, rgba(55, 55, 61, 0.47) 88.4%);
  margin-top: 27px;
}

.last-item__slider-wrapper {
  position: relative;
  padding: 0 55px;
}

.last-item__slider {
  max-width: 1060px;
  height: 160px;
}

.last-item__title {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
  font-family: "MazzardM", Helvetica, sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.2;
  color: #e3e3e3;
  text-align: center;
}

.last-item__item {
  width: 100%;
  display: block;
  display: flex;
  align-items: flex-end;
  margin: 0 auto;
}

.last-item__icon {
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 207px;
  height: 100%;
  margin-top: auto;
  position: relative;
  margin: 0 auto;
  transition: all 0.3s ease-in-out;
  -o-object-position: center;
     object-position: center;
}

.last-item__icon:hover {
  transform: scale(1.3) translateY(-20px);
}

.last-item__item-title {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  max-width: 90px;
  line-height: 1.2142857143;
  font-size: 0.875rem;
  font-weight: 700;
  color: #fff;
  text-align: center;
  margin: 0 auto 5px auto;
  z-index: 4;
  pointer-events: none;
}

.last-item__slider-button-next {
  position: absolute;
  right: 10px;
  transform: translateY(-50%);
  background-image: url("../img/slider-last-item-right.svg");
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  z-index: 10;
  background-size: cover;
  cursor: pointer;
  top: 55%;
  transition: all 0.3s ease-in-out;
}

.last-item__slider-button-next:hover {
  transform: translateY(-50%) translateX(10px);
}

.last-item__slider-button-prev {
  position: absolute;
  left: -2px;
  background-image: url("../img/slider-last-item-left.svg");
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  transform: translateY(-50%);
  z-index: 10;
  background-size: cover;
  cursor: pointer;
  top: 55%;
  transition: all 0.3s ease-in-out;
}

.last-item__slider-button-prev:hover {
  transform: translateY(-50%) translateX(-10px);
}

.best-float {
  position: relative;
  z-index: 3;
  max-width: 1920px;
  margin: 0 auto;
}

.best-float::before {
  content: "";
  background-image: url(../img/soldat.webp);
  width: 1056px;
  height: 1057px;
  background-repeat: no-repeat;
  position: absolute;
  background-size: contain;
  left: -50px;
  top: -150px;
}

.best-float__inner {
  max-width: 766px;
  margin-left: auto;
}

.best-float__title {
  font-size: 64px;
  line-height: 1.1875;
  font-weight: 700;
  font-family: "MazzardM", Helvetica, sans-serif;
  margin-top: 240px;
  color: #e3e3e3;
  z-index: 5;
  position: relative;
}

.best-float__title::after {
  display: block;
  content: "";
  height: 2px;
  width: 170px;
  border: 2px solid #975ddc;
  box-shadow: 0px 0px 8px #975ddc;
  margin-top: 12px;
}

.best-float__btn {
  background: #975ddc;
  box-shadow: 0px 4px 64px rgba(151, 93, 220, 0.73);
  border-radius: 49px;
  position: relative;
  z-index: 3;
  transition: all 0.3s ease-in-out;
  transform: translate(30px, -31px);
}

.best-float__btn:hover {
  background: #833dd8;
  box-shadow: 0px 4px 70px rgba(151, 93, 220, 0.95);
}

.best-float__btn:hover::after {
  transform: translateY(-50%) translateX(5px);
}

.best-float__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(266.07deg, rgba(55, 55, 61, 0.49) 10.69%, #37373d 65.67%, rgba(55, 55, 61, 0.01) 88.75%);
  margin-top: 26px;
  -webkit-backdrop-filter: blur(18px);
          backdrop-filter: blur(18px);
  border-radius: 21px;
  position: relative;
  padding: 36px 35px 58px 35px;
}

.best-float__content:before {
  content: url("../img/light.svg");
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.best-float__content::after {
  content: url("../img/light-yelow.svg");
  position: absolute;
  top: 180%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  pointer-events: none;
}

.best-float__item {
  display: flex;
  flex-direction: column;
  max-width: 167px;
  align-items: center;
}

.best-float__img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.best-float__name {
  line-height: 1.2222222222;
  font-size: 1.125rem;
  color: #fff;
  font-weight: 700;
  text-align: center;
  display: block;
  min-height: 50px;
  max-width: 140px;
}

.best-float__dammage {
  width: 118px;
  margin: 0 auto;
}

.best-float__dammage-count {
  color: #fcad5f;
  line-height: 1.25;
  font-size: 0.75rem;
  font-weight: 700;
  display: block;
  margin-top: 13px;
  display: flex;
  justify-content: space-between;
}

.best-float__dammage-count::after {
  content: "";
  width: 10px;
  height: 10px;
  display: inline-block;
  background-image: url("../img/polygon.svg");
  background-repeat: no-repeat;
  background-size: contain;
  text-align: right;
}

.best-float__dammage-line {
  background: linear-gradient(90deg, #8566a1 0.85%, #ffaf5c 100%);
  border-radius: 31px;
  width: 100%;
  height: 4px;
  display: block;
  margin-top: 3px;
}

.skins {
  position: relative;
  max-width: 1920px;
  margin: 0 auto;
  margin-top: 345px;
  margin-top: 345px;
  z-index: 2;
}

.skins__inner {
  max-width: 766px;
  margin-right: auto;
  margin-left: 50px;
}

.skins__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 45px;
  border-radius: 21px;
  position: relative;
  padding: 36px 35px 58px 35px;
  background: linear-gradient(266.07deg, rgba(55, 55, 61, 0.49) 10.69%, #37373d 88.75%);
  -webkit-backdrop-filter: blur(18px);
          backdrop-filter: blur(18px);
  pointer-events: none;
}

.skins__content:before {
  content: url("../img/light-blue.svg");
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.skins__content::after {
  content: "";
  background-image: url(../img/avtomat_m.webp);
  width: 1142px;
  height: 1177px;
  background-repeat: no-repeat;
  position: absolute;
  background-size: contain;
  right: 0;
  transform: translateX(70%);
  top: -278px;
  z-index: 3;
  pointer-events: none;
}

.skins__btn {
  background: #4159d8;
  box-shadow: 0px 4px 64px rgba(65, 89, 216, 0.73);
  border-radius: 49px;
  position: relative;
  transition: all 0.3s ease-in-out;
  transform: translate(30px, -31px);
}

.skins__btn:hover {
  background: #4159d8;
  box-shadow: 0px 4px 70px rgba(65, 89, 216, 0.95);
}

.skins__btn:hover::after {
  transform: translateY(-50%) translateX(5px);
}

.skins__title {
  line-height: 1.1875;
  font-size: 64px;
  font-weight: 700;
  font-family: "MazzardM", Helvetica, sans-serif;
  margin-top: 240px;
  color: #e3e3e3;
}

.skins__title::after {
  display: block;
  content: "";
  height: 2px;
  width: 170px;
  border: 2px solid #4159d8;
  box-shadow: 0px 0px 8px #4159d8;
  margin-top: 12px;
}

.skins__item {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  position: relative;
  z-index: 5;
}

.skins__img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
  width: 160px;
  height: 142px;
}

.skins__name {
  line-height: 1.2222222222;
  font-size: 1.125rem;
  color: #fff;
  font-weight: 700;
  text-align: center;
  display: block;
  min-height: 85px;
  max-width: 140px;
}

.benefits {
  margin-top: -65px;
  background-image: url("../img/benefits-bg.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center -60px;
  position: relative;
  z-index: 1;
}

.benefits::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  height: 300px;
  background: linear-gradient(180deg, #272729 32.62%, rgba(39, 39, 41, 0) 100%);
  z-index: -1;
  pointer-events: none;
}

.benefits::after {
  content: "";
  background-image: url(../img/smoke-2.webp);
  width: 833px;
  height: 759px;
  background-repeat: no-repeat;
  position: absolute;
  background-size: contain;
  right: 0;
  transform: translateX(70%);
  top: -278px;
  z-index: 3;
  pointer-events: none;
}

.benefits__title {
  font-size: 64px;
  line-height: 1.1875;
  color: #e3e3e3;
  font-weight: 700;
  font-family: "MazzardM", Helvetica, sans-serif;
  margin-top: 277px;
  text-align: center;
}

.benefits__list {
  margin-top: 35px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.benefits__list-item {
  width: 33.333%;
}

.benefits__icon {
  width: 203px;
  height: 186px;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
}

.benefits__icon--user {
  background-image: url("../img/user.svg");
}

.benefits__text {
  max-width: 200px;
  margin: 0 auto;
  line-height: 1.15;
  font-size: 1.25rem;
  font-family: "MazzardM", Helvetica, sans-serif;
  color: #f4f4f4;
  text-align: center;
  margin-top: 12px;
  margin-bottom: 16px;
}

.benefits__icon--gifts {
  background-image: url("../img/gift.svg");
}

.benefits__icon--bonus {
  background-image: url("../img/bonus.svg");
}

.benefits__icon--support {
  background-image: url("../img/support.svg");
}

.benefits__icon--money {
  background-image: url("../img/money.svg");
}

.benefits__btn {
  background: #975ddc;
  box-shadow: 0px 4px 64px rgba(151, 93, 220, 0.73);
  border-radius: 49px;
  position: relative;
  z-index: 3;
  transition: all 0.3s ease-in-out;
  display: block;
  margin: 15px auto 0 auto;
}

.benefits__btn:hover {
  background: #833dd8;
  box-shadow: 0px 4px 70px rgba(151, 93, 220, 0.95);
}

.benefits__btn:hover::after {
  transform: translateY(-50%) translateX(5px);
}

.benefits__photo {
  position: relative;
  pointer-events: none;
}

.benefits__photo::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #414143;
  width: 1140px;
  margin: 0 auto;
  bottom: 127px;
}

.benefits__group {
  min-height: 700px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-top: 86px;
}

.footer {
  position: relative;
  z-index: 3;
}

.footer__top {
  margin-top: -90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__menu {
  margin-right: auto;
  margin-bottom: 20px;
}

.footer__fortuna {
  padding-left: 29px;
  max-width: 153px;
  padding: 6px 12px 7px 43px;
  border-radius: 27px;
  line-height: 1.2142857143;
  font-size: 0.875rem;
  font-weight: 400;
  color: #c0c0c0;
  position: relative;
  background-color: rgba(255, 255, 255, 0.12);
  transition: all 0.3s ease-in-out;
  margin-bottom: 20px;
}

.footer__fortuna::before {
  content: "";
  position: absolute;
  left: 6px;
  top: 50%;
  transform: translateY(-50%);
  width: 22px;
  height: 24px;
  background-image: url("../img/fortune-icon.svg");
  background-repeat: no-repeat;
}

.footer__fortuna:hover {
  transform: scale(1.1);
}

.footer__bottom {
  background-color: #1c1c1c;
  text-align: center;
  line-height: 1.2142857143;
  font-size: 0.875rem;
  font-weight: 400;
  color: #c0c0c0;
  padding: 4px 20px;
  margin-top: 12px;
}

@media (max-width: 1160px) {
  .header__title {
    font-size: calc(
        40px + 32 * ((100vw - 320px) / 840)
      );
  }

  .header__title {
    margin-top: calc(
        75px + 79 * ((100vw - 320px) / 840)
      );
  }

  .header__text p {
    font-size: calc(
        60px + 120 * ((100vw - 320px) / 840)
      );
  }

  .last-item__title {
    padding-top: calc(
        15px + 15 * ((100vw - 320px) / 840)
      );
  }

  .last-item__title {
    padding-bottom: calc(
        15px + 15 * ((100vw - 320px) / 840)
      );
  }

  .last-item__title {
    font-size: calc(
        21px + 19 * ((100vw - 320px) / 840)
      );
  }

  .best-float__title {
    font-size: calc(
        30px + 34 * ((100vw - 320px) / 840)
      );
  }

  .best-float__title {
    margin-top: calc(
        70px + 170 * ((100vw - 320px) / 840)
      );
  }

  .skins {
    margin-top: calc(
        170px + 175 * ((100vw - 320px) / 840)
      );
  }

  .skins__title {
    font-size: calc(
        30px + 34 * ((100vw - 320px) / 840)
      );
  }

  .skins__title {
    margin-top: calc(
        70px + 170 * ((100vw - 320px) / 840)
      );
  }

  .benefits__title {
    font-size: calc(
        30px + 34 * ((100vw - 320px) / 840)
      );
  }

  .benefits__title {
    margin-top: calc(
        70px + 207 * ((100vw - 320px) / 840)
      );
  }

  .benefits__group {
    margin-top: calc(
        0px + 86 * ((100vw - 320px) / 1600)
      );
  }
}

@media (max-width: 970px) {
  .burger {
    display: block;
    z-index: 51;
    margin-top: 6px;
  }

  .menu__header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 50;
    background: #000;
    transition: all 0.3s ease-in-out;
    transform: translateY(-100%);
    margin-top: 0px;
  }

  .menu__header .menu__list {
    flex-direction: column;
    max-width: 320px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    z-index: 100;
  }

  .menu__header .menu__list-item + .menu__list-item {
    margin: 0;
    margin-top: 30px;
  }

  .header__text p + p {
    top: 388px;
  }

  .window {
    top: 210px;
    transform: translateX(23%);
  }

  .skins__content::after {
    display: none;
  }

  .skins::after {
    content: "";
    background-image: url(../img/avtomat_m.webp);
    width: 1142px;
    height: 1177px;
    background-repeat: no-repeat;
    position: absolute;
    background-size: contain;
    right: -350px;
    top: -278px;
    z-index: -1;
    pointer-events: none;
  }

  .best-float {
    z-index: 2;
  }

  .last-item::before {
    display: none;
  }
}

@media (max-width: 768px) {
  .benefits__list-item {
    width: 50%;
  }

  .footer__top {
    flex-direction: column;
    margin-top: 0;
  }

  .logo {
    display: flex;
    align-items: center;
  }

  .footer__menu {
    padding: 0;
    margin: 0 0 30px 0px;
  }

  .benefits__photo::after {
    bottom: 20px;
  }

  .header__text p + p {
    top: 388px;
  }

  .header__text p + p {
    top: 323px;
    left: 75px;
  }

  .header {
    min-height: 730px;
  }
}

@media (max-width: 640px) {
  .last-item__slider-wrapper {
    padding: 0;
  }

  .last-item__slider-button-next,
  .last-item__slider-button-prev {
    display: none;
  }

  .best-float__content,
  .skins__content {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .best-float__item {
    max-width: none;
  }

  .skins__item {
    max-width: 100%;
  }

  .window {
    display: none;
  }
}

@media (max-width: 420px) {
  .best-float__btn,
  .skins__btn {
    background: #975ddc;
    box-shadow: 0px 4px 64px rgba(151, 93, 220, 0.73);
    border-radius: 49px;
    position: relative;
    z-index: 3;
    transition: all 0.3s ease-in-out;
    transform: translate(-50%, -31px);
    margin-left: 50%;
  }

  .benefits__list-item {
    width: 100%;
  }

  .footer__menu .menu__list {
    flex-direction: column;
  }

  .footer__menu .menu__list-link--stock-violet {
    margin: 20px 0 0;
    padding: auto;
  }

  .footer__menu .menu__list-item + .menu__list-item {
    margin: 0;
  }

  .header__text p {
    display: none;
  }
}